@import "tailwindcss";

.font { 
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: 400;
  font-size: 15px;
}

@layer base {
  p, span { @apply text-neutral-500; }
  a { @apply w-fit text-neutral-500 hover:text-white py-0.5; }
}

@layer utilities {
  .border { @apply border-2 border-dashed border-neutral-800; }
  .border-r { @apply border-r-2 border-dashed border-neutral-800; }
  .border-l { @apply border-l-2 border-dashed border-neutral-800; }
  .border-t { @apply border-t-2 border-dashed border-neutral-800; }
  .border-b { @apply border-b-2 border-dashed border-neutral-800; }
}